{
  "env": {
    "browser": true // Set environment to browser for ESLint
  },
  "rules": {
    // Custom ESLint rules for the client directory
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
